{% extends "layout/base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<section class="container">
    <ul class="pagination mt-1">
        {% for i in range(pages) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i + 1 }}">{{ i + 1 }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        {% for r in rooms %}
        <div class="col-xs-12 col-md-3" style="padding: 5px;">
            <div class="card text-center">
                <img class="card-img-top img-thumbnail" src="{{ r.image }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ r.name }}</h4>
                    <p class="card-text">{{ "{:,.0f}".format(r.price) }} VNĐ</p>
                    <a href="/detail/{{r.id}}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="/booking/{{r.id}}" class="btn btn-danger">Đặt phòng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}